body{
    background: #474E68;
}

div{
    height: 1000px;
    width: 1000px;
    background-image: url('alienico.png');
    background-repeat: no-repeat;
    background-position: 350px 350px;
    /* background-size: cover; */

    border-radius: 15px;
    border: 2px white solid;
    box-shadow: 4px 4px 10px 4px #6B728E;
    position: absolute;
    left: 200px;
    top: 200px;
    transition: 0.3s;
}

div:hover{
    transform: scale(1.05);
    box-shadow: 15px 15px 50px 5px #6B728E;
}

