@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

h1{
    font-family: "Bebas Neue", serif;
    font-weight: lighter;
}


h1:hover{
    font-size: 40px;
}


h2{
    font-family: "JetBrains Mono";
    font-weight: 500;
    cursor: pointer;
}

h2:active{
    color: brown;
}




a{
    color: blueviolet;
    font-size: 25px;
    font-family: Arial;
    font-weight: 500;

    text-decoration: line-through;
}




h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px red dashed;
    display: inline;
}


table{
    border: 3px black solid;
}





/* https://fonts.google.com */

