body{
    background-color: #112236;
}

h1{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}








.container{
    display: flex;
    justify-content: space-evenly;

    margin-top: 80px;
}


.pc{
    border-radius: 15px;
    /*        horizontal   vertical   blur       spread   color     */
    box-shadow: 5px         5px       40px        2px     #c9a3f3;
    transition: 0.5s;
}

.pc:hover{
    box-shadow: 10px         10px       50px        10px     #a056ee;
    transform: translate(50px, 50px);
}

/* deg (degree)








/* 1 - ფოტოს საწყისი ზომა
1.2 - ფოტო ოდნავ გავადიდოთ
0.8 - ფოტო რომ დავაპატარავოთ