/* body{
    background: #213555;
}

#loader{
    width: 50px;
    height: 50px;
    border: 5px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;

    animation: loader 2s infinite ease;
}


#ball1{ 
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    margin: 20px 0 0 20px;

    animation: up 4s ease infinite;
    animation-delay: 1s;
}

#ball2{ 
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    margin: -80px 0 0 80px;

    animation: up1 4s  infinite;
    animation-delay: 0.2s;
}



@keyframes up{
    0%{
        transform: translate(0, 0px);
    }
    0.5%{
        transform: translate(0, -60px);
    }
    65%{
        transform: translate(0, -30px);
    }
    100%{
        transform: translate(0, 0px);
    }
}


@keyframes up1{
    0%{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(-60px, 0);
    }
    100%{
        transform: translate(0, 0);
    }
}

@keyframes loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */
#ball{
    height: 50px;
    width: 50px;
    background: orange;
    margin-top: 150px;
    margin-left: 50px;
    animation-name: bounc;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes bounc{
    0%{
        transform: translate(100px,-100px);
    } 
    100%{
        transform: translate(100px,-100px);
    }
}