/* h1{
    display: inline;
}

img{
    display: block;
} */


/* div{
    display: flex;
} */


.cube{
    height: 50px;
    width: 50px;
    background: blue;
    border: 2px red solid;
    margin: 5px;

    border-radius: 5px;

    flex-grow: 1;

}

.cube1{
    height: 60px;
    width: 60px;
    background: violet;
    border: 2px red solid;
    margin: 5px;

    border-radius: 5px;

    flex-grow: 1;
}

.cube2{
    height: 40px;
    width: 40px;
    background: green;
    border: 2px red solid;
    margin: 5px;

    border-radius: 5px;

    flex-grow: 1;
}

.cube3{
    height: 30px;
    width: 30px;
    background: blueviolet;
    border: 2px red solid;
    margin: 5px;

    border-radius: 5px;

    flex-grow: 10;
}







.parent_container{
    display: flex;

    flex-direction: row;

    flex-wrap: wrap;
    
}