/* .container{
    width: 100px;
    height: 100px;
    background: blueviolet;
    border-radius: 15px;

    margin-left: 200px;
    margin-top: 100px;
}

.pos{
    position: static;
} */

/* img{
    position: absolute;
    left: 30px;
    top: 20px;
} */

/* .main{
    width: 300px;
    height: 300px;
    background: gray;
    position: relative;
}

.child{
    width: 50px;
    height: 50px;
    background: red;

    position: absolute;
    left: 70px;
    top: 70px;
} */


/* img{
    position: fixed;

    left: 100px;
    top: 100px;
} */

#dog1{
    position: absolute;
    left: 100px;
    top: 100px;
}

#dog2{
    position: absolute;
    left: 80px;
    top: 80px;
}