*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div{
    width: 50%;
} */

/* 
div{
    width: 50%;
} */

/* a{
    border: 5px crimson solid;
    padding: 20px;
} */


/* p{
    border: 5px red solid;
    padding: 20px;
} */










/* div{
    height: 100px;
    width: 100px;
    background: green;
    border-radius: 10px 20px 30px 5px;
} */






img{
    margin-top: 80px;
    margin-left: 250px;
}