*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #d1d5db;
    background-color: #2d3748;
    text-align: center;
    font-size: 20px;
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

}

p{
    background-color: #c0bfbf;
}

#result{
    
}

#main{
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    background-color: #d1d5db;
    box-shadow: 0 0px 25px #ffffff;
}

#chat{
    box-shadow: 0 0px 8px #c0bfbf;
    width: 100%;
    height: 90%;
    background-color: #dbe0e7;
    border-radius: 20px;
}

#inputDiv{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    background-color: #d1d5db;
}
#input{
    background-color: aliceblue;
    color: #2d3748;
    border-radius: 9PX;

}
#submit{
    border-radius: 20%;

}
